body {
	margin: auto;
	font-family: monospace;
	overflow-y: scroll;
}
#root {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
main {
	max-width: 700px;
	margin: 0 auto;
	padding: 0 2rem;
}
#logo {
	width: 10rem;
	margin: 1rem 0 0 0;
}
h1 a {
	color: currentColor;
}
section {
	margin: 4rem auto;
}
section header {
	display: flex;
	margin: 0 0 1rem 0;
}
section header h2 {
	margin: 0 1rem 0 0;
}
select#locale {
	position: fixed;
	top: 1rem;
	right: 1rem;
}