/* App */
.App {
	display: flex;
	flex-direction: column;
	position: relative;
	/* margin: 0 calc(-1 * var(--syw-space-3)); */
	padding: var(--syw-space-3);
	background-color: var(--syw-color-secondary);
	border-radius: var(--syw-radius-lg);
	font-family: var(--syw-font-primary);
	font-weight: var(--syw-font-weight-normal);
	font-size: var(--syw-text-base);
	font-optical-sizing: auto;
	font-style: normal;
	transition: all 200ms ease;
}
.App * {
	box-sizing: border-box;
}
/* App > Links */
.App a {
	color: var(--syw-color-primary);
}
/* App > Buttons */
.App button {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	background: transparent;
	color: inherit;
	font: inherit;
	line-height: normal;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
	-webkit-appearance: none;
	appearance: none;
}
/* App > Hovered */
.App.App_hovered {
	transform: translate(0, 0);
}
/* App > Active */
.App.App_active {
	background-color: var(--syw-color-primary);
}