/* Badge */
.Syw-Badge {
	font-size: var(--syw-text-xs);
	font-weight: var(--syw-font-weight-bold);
	color: currentColor;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	transition: all 200ms ease;
}
.Syw-Badge .Syw-BadgeCircle {
	width: var(--syw-size-badge);
	height: var(--syw-size-badge);
	display: flex;
	align-items: center;
	justify-content: center;
	border-width: 1px;
	border-style: solid;
	border-color: currentColor;
	border-radius: var(--syw-radius-full);
	transition: all 200ms ease;
}
.Syw-Badge.Syw-Badge_showLabel {
	width: unset;
	height: unset;
	border: none;
	border-radius: none;
}
.Syw-Badge.Syw-Badge_showLabel svg.Syw-BadgeAlert {
	width: var(--syw-space-4);
	height: var(--syw-space-4);
	margin-right: var(--syw-space-1);
}
.Syw-Badge.Syw-Badge_showLabel .Syw-BadgeLabel {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--syw-text-md);
	margin-left: var(--syw-space-1);
}
.Syw-TooltipContent {
	color: var(--syw-tooltip-text);
	background-color: var(--syw-tooltip-background);
}
/* Badge > Statuses */
/* Badge > Statuses > Tooltip */
.Syw-TooltipContent.Syw-BadgeTooltipContent_trusted {
	/* --syw-tooltip-text: var(--syw-color-status-trusted); */
	/* --syw-tooltip-background: var(--syw-color-status-trusted-light); */
	--syw-tooltip-text: var(--syw-color-primary);
	--syw-tooltip-background: var(--syw-color-secondary);
}
.Syw-TooltipContent.Syw-BadgeTooltipContent_valid {
	/* --syw-tooltip-text: var(--syw-color-status-valid); */
	/* --syw-tooltip-background: var(--syw-color-status-valid-light); */
	--syw-tooltip-text: var(--syw-color-primary);
	--syw-tooltip-background: var(--syw-color-secondary);
}
.Syw-TooltipContent.Syw-BadgeTooltipContent_invalid {
	--syw-tooltip-text: var(--syw-color-status-invalid);
	--syw-tooltip-background: var(--syw-color-status-invalid-light);
}
.Syw-TooltipContent.Syw-BadgeTooltipContent_unknown {
	--syw-tooltip-text: var(--syw-color-status-unknown);
	--syw-tooltip-background: var(--syw-color-status-unknown-light);
}
/* Badge > Icon */
/* .Syw-Badge_icon {
	padding: var(--syw-space-1);
	border-radius: var(--syw-radius-full);
} */
.Syw-BadgeIcon {
	width: var(--syw-size-badge-icon);
	height: var(--syw-size-badge-icon);
}