/* Badge */
.Syw-Badge {
	font-size: var(--syw-text-xs);
	font-weight: var(--syw-font-weight-bold);
	color: var(--syw-color-primary);
	display: flex;
	align-items: center;
	padding: var(--syw-space-1) var(--syw-space-2);
	border-width: 1px;
	border-style: solid;
	border-color: currentColor;
	border-radius: var(--syw-radius-lg);
	pointer-events: none;
}
/* Badge > Icon */
.Syw-Badge_icon {
	padding: var(--syw-space-1);
	border-radius: var(--syw-radius-full);
}
.Syw-BadgeIcon {
	width: var(--syw-space-3);
	height: var(--syw-space-3);
}
/* Badge > Tooltip > Trigger */
.Syw-BadgeTooltipTrigger {

}