.Caption {
	padding-left: 0;
	padding-right: 0;
	padding-top: var(--space-3);
	padding-bottom: var(--space-2);
	width: calc(100% - var(--space-8));
	color: var(--color-secondary-dark);
	border: 1px solid transparent;
	position: relative;
	pointer-events: all;
	line-height: 1.3em;
	cursor: text;
	transition: all 200ms ease;
	&::before {
		content: '';
		display: block;
		width: 1px;
		z-index: 2;
		position: absolute;
		left: calc(var(--space-3) - 1.5px);
		top: calc(var(--space-4) * -1);
		height: 0;
		background-color: var(--color-secondary-dark);
		border-color: var(--color-secondary-light);
		border-style: solid;
		border-width: 0 1px;
		transition: all 200ms ease;
	}
	// &::after {
	// 	content: '';
	// 	display: block;
	// 	width: 8px;
	// 	height: 8px;
	// 	position: absolute;
	// 	left: calc(var(--space-3) - 5px);
	// 	top: calc(var(--space-3));
	// 	z-index: 4;
	// 	border-radius: 100%;
	// 	// background-color: var(--color-secondary-light);
	// 	// border-color: var(--color-secondary-dark);
	// 	background-color: var(--color-tertiary-light);
	// 	border-color: var(--color-primary);
	// 	border-style: solid;
	// 	border-width: 1px;
	// 	opacity: 0;
	// 	transition: all 200ms ease;
	// }
	.App_active & {
		color: var(--color-secondary);
		
		&::before {
			// top: -2px;
			height: calc(100% + var(--space-10) + 2px);
			background-color: var(--color-primary);
		}
		&::after {
			opacity: 1;
		}
	}
}
.CaptionInner {
	transition: all 200ms ease;
	.App_active & {
		transform: translateX(var(--space-6));
	}
}
.CaptionByline {
	color: var(--color-tertiary-dark);
	.App_active & {
		color: var(--color-secondary-dark);
	}
}