/* Collapse */
.Syw-Collapse {
	opacity: 0;
	transition-property: opacity, height;
	transition-duration: 200ms;
	transition-timing-function: ease;
	overflow: hidden;
}
/* Collapse > Open */
.Syw-Collapse.Syw-Collapse_open {
	opacity: 1;
}
/* Collapse > Inner */
.Syw-CollapseInner {
	transform: translate(0, 0);
}