/* Explainer > Toggle */
button.Syw-ExplainerToggle {
	font-size: var(--syw-text-xs);
	font-weight: var(--syw-font-weight-bold);
}
/* Cutline > Explainer > Toggle */
.Syw-Cutline button.Syw-ExplainerToggle {
	margin-left: var(--syw-space-2);
}
/* Cutline > Explainer > Toggle > Hover */
.Syw-Cutline button.Syw-ExplainerToggle:hover {
	color: var(--syw-color-quaternary);
}
/* Expand > Cutline > Explainer > Toggle */
.Syw-ProvenanceExpand button.Syw-ExplainerToggle {
	color: var(--color-secondary);
}
/* Modal > Cutline > Explainer > Toggle > Active */
.Syw-ProvenanceModal .Syw-Cutline button.Syw-ExplainerToggle {
	color: var(--syw-color-secondary);
}
/* Modal > Cutline > Explainer > Toggle > Active > Hover */
.Syw-ProvenanceModal .Syw-Cutline button.Syw-ExplainerToggle:hover {
	color: var(--syw-color-quaternary);
}
/* Modal > Cutline > Explainer > Toggle */
.Syw-ProvenanceModal button.Syw-ExplainerToggle {
	color: var(--color-secondary);
}