.App button.ExplainerToggle {
	font-size: var(--syw-text-xs);
	font-weight: var(--syw-font-weight-bold);
}
/* Cutline > Toggle Explainer */
.Cutline button.ExplainerToggle {
	margin-left: var(--syw-space-2);
	color: var(--syw-color-primary-light);
}
/* Cutline > Toggle Explainer > Hover */
.Cutline button.ExplainerToggle:hover {
	color: var(--syw-color-quaternary);
}
/* Cutline > Toggle Explainer > Pressed */
.Cutline button.ExplainerToggle[aria-pressed="true"] {
	opacity: 0;
	pointer-events: none;
}
/* Cutline > Toggle Explainer > Active */
.App_active .Cutline button.ExplainerToggle {
	color: var(--syw-color-secondary-light);
}
/* Cutline > Toggle Explainer > Active > Hover */
.App_active .Cutline button.ExplainerToggle:hover {
	color: var(--syw-color-quaternary-light);
}
/* Modal > Toggle Explainer */
.ModalContent button.ExplainerToggle {
	color: var(--color-secondary);
}