/* Explainer */
.Syw-Explainer {
	position: relative;
	top: -1px;
}
/* Explainer > Inner */
.Syw-ExplainerInner {
	position: relative;
	pointer-events: all;
	color: var(--syw-color-primary);
	font-size: var(--syw-text-sm);
	line-height: 1.5em;
}
.Syw-ExplainerBox {
	padding: var(--syw-space-4);
	background-color: var(--syw-color-secondary);
	border-radius: var(--syw-radius-lg);
	border-top-left-radius: 0;
}
.Syw-ExplainerHeader {
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-start;
	justify-content: space-between;
}
/* Explainer > Close */
button.Syw-ExplainerClose {
	width: var(--syw-space-5);
    height: var(--syw-space-5);
	display: flex;
	position: relative;
	top: calc(var(--syw-space-1) * -1);
	right: calc(var(--syw-space-1) * -1);
	background-color: var(--syw-color-secondary);
	border-radius: var(--syw-radius-full);
	border-color: currentColor;
	border-style: solid;
	border-width: 1px;
	font-size: var(--syw-text-xs);
	cursor: pointer;
	margin: 0;
	transition: all 200ms ease;
}
button.Syw-ExplainerClose svg {
	margin: auto;
    width: var(--syw-space-3);
    height: var(--syw-space-3);
}
button.Syw-ExplainerClose:hover {
	color: var(--syw-color-quaternary);
}
/* Explainer > Lede */
p.Syw-ExplainerLede {
	margin: 0;
	display: block;
	font-weight: var(--syw-font-weight-bold);
	padding-right: var(--syw-space-2);
}
/* Explainer > Sections */
dl.Syw-ExplainerSections {
	margin: var(--syw-space-3) 0 0 0;
	max-width: var(--syw-size-paragraph-max-width);
}
div.Syw-ExplainerSection:not(:last-child) {
	margin: 0 0 var(--syw-space-3) 0;
}
dt.Syw-ExplainerSectionTitle {
	padding-bottom: var(--syw-space-1);
	font-size: var(--syw-text-xs);
	font-weight: var(--syw-font-weight-bold);
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
dd.Syw-ExplainerSectionBody {
	margin-left: 0;
}