button.Syw-ExplainerToggle {
	font-size: var(--syw-text-xs);
	font-weight: var(--syw-font-weight-bold);
	color: var(--syw-color-secondary);
}
/* Cutline > Explainer > Toggle */
.Syw-Cutline button.Syw-ExplainerToggle {
	margin-left: var(--syw-space-2);
	color: var(--syw-color-primary-light);
}
/* Cutline > Explainer > Toggle > Hover */
.Syw-Cutline button.Syw-ExplainerToggle:hover {
	color: var(--syw-color-quaternary);
}
/* Cutline > Explainer > Toggle > Pressed */
/* .Syw-Cutline button.Syw-ExplainerToggle[aria-pressed="true"] {
	opacity: 0;
	pointer-events: none;
} */
/* Cutline > Explainer > Toggle > Active */
.Syw-ProvenanceModal .Syw-Cutline button.Syw-ExplainerToggle {
	color: var(--syw-color-secondary-light);
}
/* Cutline > Explainer > Toggle > Active > Hover */
.Syw-ProvenanceModal .Syw-Cutline button.Syw-ExplainerToggle:hover {
	color: var(--syw-color-quaternary-light);
}
/* Modal > Explainer > Toggle */
.Syw-ProvenanceModal .Syw-Explainer {
	margin-bottom: var(--syw-space-3);
}
.Syw-ProvenanceModal button.Syw-ExplainerToggle {
	color: var(--color-secondary);
}