/* Manifest > Content */
.Syw-ManifestContent {
	border-spacing: 0;
	padding: var(--syw-space-5) var(--syw-space-4) var(--syw-space-4) var(--syw-size-manifest-preview-indent);
	position: relative;
	display: grid;
	grid-template-rows: auto auto;
	gap: var(--syw-space-4);
	@media (min-width: 576px) {
		grid-template-rows: unset;
		grid-template-columns: repeat(2, 1fr);
	}
}
.Syw-ManifestContent::before {
	content: "";
	width: 100%;
	height: 1px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.125;
	background-color: var(--syw-color-primary);
}
.Syw-ManifestContentPrimary, .Syw-ManifestContentSecondary {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
/* @media (max-width: 576px) { */
.Syw-ManifestContentPrimary {

}
.Syw-ManifestContentSecondary {
	
}