/* Manifest */
.Syw-Manifest {
	position: relative;
	margin-bottom: var(--syw-space-2);
	color: var(--syw-color-tertiary-light);
	background-color: var(--syw-color-primary);
	border-radius: var(--syw-radius-lg);
	border-color: var(--syw-color-tertiary);
	border-style: solid;
	border-width: 1px;
	transition: all 200ms ease;
}
.Syw-Manifest::after,
.Syw-Manifest::before {
	content: '';
	display: block;
	width: 1px;
	height: calc(100% + var(--syw-space-2));
	position: absolute;
	z-index: 2;
	top: calc(var(--syw-space-6));
	background-color: var(--syw-color-primary);
	border-color: var(--syw-color-secondary-light);
	border-style: solid;
	border-width: 0 1px;
}
.Syw-Manifest::before {
	left: calc(var(--syw-space-3) - 1.5px);
}
.Syw-Manifest::after {
	right: calc(var(--syw-space-3) - 1.5px);
	display: none;
}
.Syw-Manifest:last-of-type {
	margin-bottom: 0;
}
.Syw-Manifest:last-of-type::before,
.Syw-Manifest:last-of-type::after {
	display: none;
}
/* Manifest > Open */
.Syw-Manifest.Syw-Manifest_open {
	color: var(--syw-color-primary);
	background-color: var(--syw-color-secondary);
}
/* Manifest > Hover */
.Syw-Manifest:not(.Syw-Manifest_open):hover {
	background-color: var(--syw-color-secondary);
}
/* Manifest > Row */
.Syw-ManifestRow {
	overflow: hidden;
	position: relative;
}
/* Manifest > Preview */
.Syw-ManifestPreview {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: var(--syw-space-10);
	cursor: pointer;
	user-select: none;
	transition: all 200ms ease;
	border-radius: var(--syw-radius-lg);
	padding: var(--syw-space-1) var(--syw-space-1) var(--syw-space-1) var(--syw-space-6);
}
.Syw-ManifestPreview::before,
.Syw-ManifestPreview::after {
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	position: absolute;
	top: calc(var(--syw-space-5));
	z-index: 4;
	background-color: var(--syw-color-tertiary-light);
	border-color: var(--syw-color-primary);
	border-width: 1px;
	border-style: solid;
	border-radius: 100%;
	transition: all 200ms ease;
}
.Syw-ManifestPreview::before {
	left: calc(var(--syw-space-3) - 5px);
}
.Syw-ManifestPreview::after {
	right: calc(var(--syw-space-3) - 5px);
	display: none;
}
.Syw-Manifest_open .Syw-ManifestPreview {
	color: var(--syw-color-primary);
}
.Syw-Manifest_open .Syw-ManifestPreview::before,
.Syw-Manifest_open .Syw-ManifestPreview::after {
	background-color: var(--syw-color-primary);
}
.Syw-ManifestPreview:hover {
	color: var(--syw-color-quaternary);
}
.Syw-ManifestPreview:hover::before,
.Syw-ManifestPreview:hover::after {
	background-color: var(--syw-color-quaternary);
}
.Syw-ManifestPreviewCell {
	width: auto;
	font-weight: var(--syw-font-weight-bold);
}
.Syw-ManifestPreviewCell span {
	user-select: text;
}
.Syw-ManifestPreviewCell_issuer {
	/* margin-left: var(--syw-space-1); */
}
.Syw-ManifestPreviewCell_badges {
	display: flex;
}
.Syw-ManifestPreviewCell_badges > div {
	margin-right: var(--syw-space-2);
}
.Syw-ManifestPreviewCell_time {
	flex: 1;
	text-align: right;
}
.Syw-ManifestPreviewCell_thumb {
	width: 45px;
	height: 45px;
	margin-left: var(--syw-space-2);
	position: relative;
	overflow: visible;
	padding: var(--syw-space-1);
	border-width: 1px;
	border-style: solid;
	border-radius: var(--syw-radius-lg);
	border-color: transparent;
	background-color: var(--syw-color-primary);
	border-color: var(--syw-color-secondary-dark);
}
.Syw-ManifestPreview:hover .Syw-ManifestPreviewCell_thumb {
	/* border-color: var(--syw-color-secondary); */
	border-color: transparent;
}
.Syw-ManifestPreviewCell_thumb_hover,
.Syw-ManifestPreview:hover .Syw-ManifestPreviewCell_thumb_hover {
	border-color: var(--syw-color-quaternary);
}
.Syw-ManifestPreviewCell_thumb img {
	width: 100%;
	height: 100%;
	display: table;
	object-fit: cover;
}
/* Manifest > Content */
.Syw-ManifestContent {
	border-spacing: 0;
	padding: 0 var(--syw-space-4) var(--syw-space-4) var(--syw-space-6);
	position: relative;
}
/* Manifest > Table */
.Syw-ManifestTable {
	width: 100%;
	padding: 0;
	list-style: none;
}
.Syw-ManifestTableRow {
	margin-bottom: var(--syw-space-2);
}
.Syw-ManifestTableRow:last-of-type {
	margin-bottom: 0;
}
.Syw-ManifestTableRowLabel {
	color: var(--syw-color-primary-light);
	font-size: var(--syw-text-xs);
	font-weight: var(--syw-font-weight-bold);
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.Syw-ManifestTableRowValue {
	
}