/* Manifest > Table */
.Syw-ManifestTable {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}
/* Manifest > Table > Row */
.Syw-ManifestTableRow {
	margin-bottom: var(--syw-space-3);
}
.Syw-ManifestTableRow:last-of-type {
	margin-bottom: 0;
}
.Syw-ManifestTableRowLabel {
	font-size: var(--syw-text-xs);
	font-weight: var(--syw-font-weight-bold);
	letter-spacing: 0.1em;
	text-transform: uppercase;
}