.Provenance {
	.App_expand & {
		padding: var(--space-2) 0 0 0;
	}
	.App_modal & {
		// padding: var(--space-4);
		width: 100%;
		max-width: 75em;
		height: 100%;
		// overflow-y: auto;
	}
}
.ProvenanceList {
	list-style: none;
	padding: 0;
	margin: 0;
}
.ProvenanceVerify {
	margin-top: var(--space-3);
	color: var(--color-secondary);
	font-size: var(--text-xs);
	& > a {
		color: var(--color-secondary) !important;
	}
}