/* Provenance > Modal > Content */
.Syw-ProvenanceModal .SywModalContent {
	max-width: calc(100% - var(--syw-space-4));
	max-height: calc(100% - var(--syw-space-4));
}
/* Provenance > Modal > Content > Box */
.Syw-ProvenanceModal .SywModalContentBox {
	padding: var(--syw-space-4);
}
/* Provenance > Modal > Explainer */
.Syw-ProvenanceModal .Syw-ProvenanceModalToolbar {
	display: flex;
	margin-bottom: var(--syw-space-3);
}
/* .Syw-ProvenanceModal .Syw-ProvenanceModalToolbar .Syw-Status {
	margin-left: auto;
} */