/* Provenance */
.Syw-Provenance {

}
/* Provenance > List */
.Syw-ProvenanceList {
	list-style: none;
	padding: 0;
	margin: 0;
}
/* Provenance > None */
.Syw-ProvenanceNone {
	padding-top: var(--syw-space-2);
	padding-left: var(--syw-space-6);
	color: var(--syw-color-secondary);
}
/* Provenance > Verify */
.Syw-ProvenanceVerify {
	margin-top: var(--syw-space-3);
	color: var(--syw-color-secondary);
	font-size: var(--syw-text-xs);
}
.Syw-ProvenanceVerify > a {
	color: var(--syw-color-secondary) !important;
}