/* Status */
.Syw-StatusBadge.Syw-Badge_trusted {
	color: var(--syw-color-status-trusted);
	background-color: var(--syw-color-status-trusted-light);
}
.Syw-StatusBadge.Syw-Badge_valid {
	color: var(--syw-color-status-valid);
	background-color: var(--syw-color-status-valid-light);
}
.Syw-StatusBadge.Syw-Badge_invalid {
	color: var(--syw-color-status-invalid);
	background-color: var(--syw-color-status-invalid-light);
}
.Syw-StatusBadge.Syw-Badge_unknown {
	color: var(--syw-color-status-unknown);
	background-color: var(--syw-color-status-unknown-light);
}
.Syw-App_active .Syw-StatusBadge.Syw-Badge_unknown {
	color: var(--syw-color-status-unknown-light);
	background-color: var(--syw-color-status-unknown);
}