/* Status */
.Syw-Badge.Syw-Badge_status_trusted {
	color: var(--syw-color-status-trusted);
	background-color: var(--syw-color-status-trusted-light);
}
.Syw-Badge.Syw-Badge_status_valid {
	color: var(--syw-color-status-valid);
	background-color: var(--syw-color-status-valid-light);
}
.Syw-Badge.Syw-Badge_status_invalid {
	color: var(--syw-color-status-invalid);
	background-color: var(--syw-color-status-invalid-light);
}
.Syw-Badge.Syw-Badge_status_unknown {
	color: var(--syw-color-status-unknown);
	background-color: var(--syw-color-status-unknown-light);
}
.Syw-App_active .Syw-StatusBadge.Syw-Badge_unknown {
	color: var(--syw-color-status-unknown-light);
	background-color: var(--syw-color-status-unknown);
}
/* Status > Tooltip */
.Syw-TooltipContent.Syw-BadgeTooltipContent_status_trusted {
	--syw-tooltip-text: var(--syw-color-status-trusted);
	--syw-tooltip-background: var(--syw-color-status-trusted-light);
}
.Syw-TooltipContent.Syw-BadgeTooltipContent_status_valid {
	--syw-tooltip-text: var(--syw-color-status-valid);
	--syw-tooltip-background: var(--syw-color-status-valid-light);
}
.Syw-TooltipContent.Syw-BadgeTooltipContent_status_invalid {
	--syw-tooltip-text: var(--syw-color-status-invalid);
	--syw-tooltip-background: var(--syw-color-status-invalid-light);
}
.Syw-TooltipContent.Syw-BadgeTooltipContent_status_unknown {
	--syw-tooltip-text: var(--syw-color-status-unknown);
	--syw-tooltip-background: var(--syw-color-status-unknown-light);
}