/* Image > Compare */
/* .Syw-Thumbnail {
	position: fixed;
	z-index: 999999999;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	padding: var(--syw-space-2);
	background-color: var(--syw-color-primary);
	border-radius: var(--syw-radius-lg);
	border-color: var(--syw-color-tertiary);
	border-style: solid;
	border-width: 1px;
	--syw-offset: calc(-100% - var(--syw-space-10));
	transform: translate(var(--syw-offset), calc(-50% + 0px));
}
.Syw-Thumbnail img {
	width: 320px;
	height: auto;
	margin: auto;
	object-fit: contain;
}
.Syw-Thumbnail .Syw-ThumbnailMissing {
	color: var(--syw-color-secondary);
} */