button.ToggleExplainer {
	display: block;
	margin-left: var(--space-2);
	color: var(--color-primary-light);
	font-size: var(--text-xs);
	font-weight: var(--font-weight-bold);
	cursor: pointer;
	&:hover {
		color: var(--color-quaternary);
	}
	&[aria-pressed="true"] {
		opacity: 0;
		pointer-events: none;
	}
	.App_active & {
		color: var(--color-secondary-light);
		&:hover {
			color: var(--color-quaternary-light);
		}
	}
	.AppModal & {
		color: var(--color-secondary);
	}
}