/* Tooltip > Content */
.Syw-TooltipContent {
	--syw-tooltip-text: var(--syw-color-secondary);
	--syw-tooltip-background: var(--syw-color-primary);
	--arrow-background: var(--syw-tooltip-text);
	--arrow-size: 6px;
	max-width: 300px;
	padding: var(--syw-space-3);
	font-family: var(--syw-font-primary);
	font-weight: var(--syw-font-weight-normal);
	font-size: var(--syw-text-sm);
	line-height: 1.3em;
	border-radius: var(--syw-radius-lg);
	border-color: currentColor;
	border-style: solid;
	border-width: 1px;
	color: var(--syw-tooltip-text);
	background-color: var(--syw-tooltip-background);
	z-index: calc(var(--syw-z-tooltip) + var(--layer-index, 0));
	transform-origin: var(--transform-origin);
	position: relative;
}
.Syw-TooltipContent[data-state="open"] {
	animation: syw-tooltip-in 150ms ease-out;
}

.Syw-TooltipContent[data-state="closed"] {
	animation: syw-tooltip-out 100ms ease-in;
}
/* Tooltip > Trigger */
.Syw-TooltipTrigger {
	cursor: default;
}
/* Tooltip > Arrow */
.Syw-TooltipArrow {

}
.Syw-TooltipArrowTip {
	
}
.Syw-TooltipArrowTip::before {
	content: "";
	position: absolute;
	left: 1px;
	top: 1px;
	width: 100%;
	height: 100%;
	background-color: var(--syw-tooltip-background);
}
/* Tooltip > Transition */
@keyframes syw-tooltip-in {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes syw-tooltip-out {
	from {
		opacity: 1;
		transform: none;
	}
	to {
		opacity: 0;
		transform: scale(0.9);
	}
}