/* Type */
.Syw-TypeBadge {
	/* color: var(--syw-color-type); */
	/* background-color: var(--syw-color-status-type); */
	transition: all 200ms ease;
}
.Syw-App_active .Syw-TypeBadge {
	/* color: white; */
	color: var(--syw-color-quaternary-light);
	/* background-color: var(--syw-color-status-type); */
}
.Syw-ManifestPreview:hover .Syw-TypeBadge {
	/* color: var(--syw-color-quaternary); */
	color: var(--syw-color-primary);
}
.Syw-ManifestRow_open .Syw-TypeBadge {
	color: var(--syw-color-primary);
}