/* Image */
.Image {
	display: flex;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	background-color: var(--syw-color-secondary);
	transition: all 200ms ease-in-out;
}
/* Image > Hovered */
.App_hovered .Image::before {
	opacity: 1;
}
/* Image > Engaged */
.App_engaged .Image::before {
	border-color: var(--syw-color-secondary);
}
/* Image > IMG */
.ImageImg {
	width: 100%;
}